* {
  margin: 0;
	border: 0;
	font: inherit;
	font-family:  ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif, 'Roboto', sans-serif;
}

section {
	background-color:rgb(15, 45, 37);
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 32px;
}

.sectionOne h1 {
	font-size: 80px;
	margin: 80px;
	margin-bottom: 10px;
	font-weight: bolder;
}

.sectionOne p {
	font-size: 20px;
	margin: 80px;
	margin-bottom: 10px;
}